header,
body {
  font-family: "Raleway", "Arial", "Helvetica", sans-serif;
  margin: 0;
  height: 100hv;
  position: relative;
  display: flex;
  flex-direction: column;
}

header {
  top: 0px;
  padding: 30px 0px;
}
.nav {
  height: 40px;
  width: 100vw;
  top: 100px;
  border-bottom: 2px solid #050038;
  background-color: #484282;
  flex-direction: column;
  display: flex;
  align-items: baseline;
  justify-content: center;
}
/* .nav-min {
  display: block;
  width: 100vw;
  height: auto;
  top: 100px;
  border-bottom: 2px solid #050038;
  background-color: #484282;
  flex-direction: row;
  display: flex;
  align-items: baseline;
  justify-content: center;
} */
ul {
  list-style-type: none;
  margin: 0;
  padding-inline-start: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list li {
  color: white;
  font-weight: 600;
  font-size: 14px;
  padding: 0 10px;
  box-sizing: border-box;
}
.nav-list li:last-of-type {
  padding-right: 0;
}
.nav-list-link {
  position: relative;
  transition: all 0.25s ease;
}
.nav-list-link:hover {
  color: coral;
}
.nav-list-link::after {
  content: "";
  background: coral;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -6px;
  left: 0;
  transform: scaleX(0);
  transition: all 0.25s ease;
}
.nav-list-link:hover::after {
  transform: scaleX(1);
}
.nav-list li:last-of-type a {
  display: flex;
  align-items: center;
  background-color: #484282;
  color: coral;
  height: 30px;
  padding: 0 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.nav-list li:last-of-type a:hover {
  background-color: coral;
  color: #484282;
}
.nav-list li:last-of-type a svg {
  width: 1em;
}
.support-heart {
  margin-right: 5px;
}
.update-info {
  top: 140px;
  height: 24px;
  width: 100vw;
  margin: 0;
}

header,
footer {
  background-color: #050038;
  box-sizing: border-box;
  width: 100vw;
  height: 100px;
  margin: 0;
  align-content: center;
  text-align: left;
  padding: 0 30px;
  color: white;
}
footer {
  font-size: medium;
  margin: 0;
  bottom: 0px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}
.graphics,
.hydration-and-planing {
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 24px 24px 24px;
}
.graphic-temp,
.graphic-weight {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 47%;
  /* min-width: 382px; */
  border: gray solid 1px;
  padding: 8px;
}
.graphic-temp {
  margin: 24px 0 24px 0;
}
.graphic-weight {
  margin: 24px 0 24px 0;
}
.add-button {
  position: fixed;
  top: 553px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}
.btn-log {
  font-size: 36px;
  color: white;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #050038;
  transition-duration: 0.3s;
}
.btn-log:hover {
  background-color: #484282;
  border: solid 4px coral;
  color: coral;
  cursor: pointer;
}
.hydration,
.daily-planing {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: gray solid 1px;
  padding: 0 24px 24px 24px;
}
.hydration {
  width: 30%;
  margin-right: 24px;
}
.daily-planing {
  width: 70%;
}
.table-box,
.info-posts {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  padding: 0 24px 24px 24px;
  margin-bottom: 16px;
  background-color: lightgrey;
  /* border: darkgray solid 2px; */
}

.data-table-info,
.post {
  box-sizing: border-box;
  display: flex;
  /* flex-direction: row; */
  justify-content: flex;
  align-content: center;
  width: 100%;
  border: gray solid 1px;
  padding: 24px;
}
.post {
  border-radius: 24px;
}
div h4 {
  text-align: left;
  font-size: 24px;
  margin: 8px 0;
}
.post-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.post-img {
  width: 150px;
  height: 150px;
  background-color: #de6e42;
  border-radius: 16px;
  margin-right: 24px;
}
.post-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
.post-text {
  font-size: 16px;
  margin: 0;

  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}
@media screen and (min-width: 810px) {
  .nav-toggle {
    display: none;
  }
}
@media screen and (max-width: 810px) {
  .nav-list {
    display: block;
  }
  .nav {
    display: block;
    width: 100vw;
    height: auto;
    top: 100px;
    border-bottom: 2px solid #050038;
    background-color: #484282;
    flex-direction: row;
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  .nav-list li {
    display: none;
    margin-top: 5px;
    margin-bottom: 8px;
    text-align: center;
  }
  .nav-toggle {
    display: block;
  }
}
@media screen and (max-width: 810px) {
  .graphics,
  .hydration-and-planing {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .graphic-temp,
  .graphic-weight {
    width: 100%;
    margin: 24px 0 0;
  }
  .daily-planing {
    margin-bottom: 24px;
    width: 90%;
  }
  .hydration {
    margin: 0 0 24px 0;
  }
  .post {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dialog-box {
    width: 100vw;
    height: auto;
  }
}
.nav-toggle {
  color: #fff;
  background-color: #484282;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin-left: 30px;
}
.burger-icon {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  vertical-align: -0.125em;
}

.dialog-add-log {
  z-index: 1;
  background: white;
  color: black;
  border: 1px solid #050038;
  padding: 0px;
  /* border-radius: 1rem; */
}
.dialog-box {
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}
.dialog-box-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #050038;
  color: white;
}
.dialog-box-title button {
  margin-right: 0.5em;
  background-color: #050038;
  color: white;
  font-size: x-large;
  border-style: none;
  cursor: pointer;
  border: solid 1px #050038;
}
.dialog-box-title button:hover {
  border: solid 1px white;
  transition: all 0.5s ease;
}
.dialog-box-title h1 {
  margin-left: 1em;
}
.dialog-box-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: lightgray;
}
.dialog-box-content-temp,
.dialog-box-content-weigth-heigth,
.dialog-box-content-medication {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  height: 80%;
  border-radius: 3rem;
  margin: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.dialog-box-content-temp img,
.dialog-box-content-weigth-heigth img,
.dialog-box-content-medication img {
  width: 70%;
  height: auto;
}
.dialog-box-content-temp h4,
.dialog-box-content-weigth-heigth h4,
.dialog-box-content-medication h4 {
  align-items: center;
  text-wrap: wrap;
}
.dialog-box-content-temp {
  border: 2px solid yellow;
}
.dialog-box-content-temp:hover {
  box-shadow: 0px 0px 15px yellow;
}
.dialog-box-content-weigth-heigth {
  border: 2px solid greenyellow;
}
.dialog-box-content-weigth-heigth:hover {
  box-shadow: 0px 0px 15px greenyellow;
}
.dialog-box-content-medication {
  border: 2px solid lightskyblue;
}
.dialog-box-content-medication:hover {
  box-shadow: 0px 0px 15px lightskyblue;
}

.dialog-add-log::backdrop {
  background-color: hsla(240, 1%, 25%, 0.95);
}
/*  */
/*  */
.dialog-modal::backdrop {
  background-color: hsla(240, 1%, 25%, 0.95);
}
.dialog-modal {
  width: 300px;
  z-index: 2;
  background: white;
  color: black;
  border: 1px solid #050038;
  padding: 0px;
}

.dialog-box-modal {
  background-color: #050038;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
}
.dialog-box-modal-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}
.dialog-box-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: ; */
}
input {
  width: 80%;
  margin: 1em;
  padding: 0.5em;
  border-radius: 1px;
  border: solid 1px #050038;
}
input:invalid {
  border: 2px solid red;
}
input:valid {
  border: solid 1px #050038;
}
input:focus {
  border: 2px solid #484282;
}
.cancelButton {
  width: 40%;
  margin: 1em;
  padding: 0.5em;
  background-color: #484282;
  color: white;
  font-size: 1rem;
  border-style: none;
  cursor: pointer;
  border: solid 1px #050038;
  border-radius: 4px;
}
.submitButton {
  width: 40%;
  margin: 1em;
  padding: 0.5em;
  background-color: white;
  color: #050038;
  font-size: 1rem;
  border-style: none;
  cursor: pointer;
  border: solid 1px #484282;
  border-radius: 4px;
}
.tempComment {
  width: 80%;
  padding: 0.5em;
  border-radius: 1px;
  background-color: lightgrey;
}
.tempComment input {
  width: 90%;
  margin: 5px 0 0 0;
  border-color: gray;
}
#dialog-box-modal-content-tempetature input:hover {
  background-color: lightyellow;
}
#dialog-box-modal-content-weight-height input:hover {
  background-color: rgb(185, 234, 185);
}
#dialog-box-modal-content-medication input:hover {
  background-color: rgb(199, 229, 248);
}
